@charset "utf-8";

@font-face {
    font-family: 'OgloboCondensed';
    src: url('OgloboCondensedBold.eot');
    src: url('OgloboCondensedBold.eot?#iefix') format('embedded-opentype'),
         url('OgloboCondensedBold.woff?#iefix') format('woff'),
         url('OgloboCondensedBold.ttf?#iefix') format('truetype'),
         url('OgloboCondensedBold.svg#oglobocondensedbold?#iefix') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'OgloboCondensed';
    src: url('OgloboCondensedSemibold.eot');
    src: url('OgloboCondensedSemibold.eot?#iefix') format('embedded-opentype'),
         url('OgloboCondensedSemibold.woff?#iefix') format('woff'),
         url('OgloboCondensedSemibold.ttf?#iefix') format('truetype'),
         url('OgloboCondensedSemibold.svg#oglobocondensedsemibold?#iefix') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OgloboCondensed';
    src: url('OgloboCondensedMedium.eot');
    src: url('OgloboCondensedMedium.eot?#iefix') format('embedded-opentype'),
         url('OgloboCondensedMedium.woff?#iefix') format('woff'),
         url('OgloboCondensedMedium.ttf?#iefix') format('truetype'),
         url('OgloboCondensedMedium.svg#oglobocondensedmedium?#iefix') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OgloboCondensed';
    src: url('OgloboCondensedRegular.eot');
    src: url('OgloboCondensedRegular.eot?#iefix') format('embedded-opentype'),
         url('OgloboCondensedRegular.woff?#iefix') format('woff'),
         url('OgloboCondensedRegular.ttf?#iefix') format('truetype'),
         url('OgloboCondensedRegular.svg#oglobocondensedregular?#iefix') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OgloboCondensed';
    src: url('OgloboCondensedLight.eot');
    src: url('OgloboCondensedLight.eot?#iefix') format('embedded-opentype'),
         url('OgloboCondensedLight.woff?#iefix') format('woff'),
         url('OgloboCondensedLight.ttf?#iefix') format('truetype'),
         url('OgloboCondensedLight.svg#oglobocondensedlight?#iefix') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OgloboXCondensed';
    src: url('OgloboXCondensedLight.eot');
    src: url('OgloboXCondensedLight.eot?#iefix') format('embedded-opentype'),
         url('OgloboXCondensedLight.woff?#iefix') format('woff'),
         url('OgloboXCondensedLight.ttf?#iefix') format('truetype'),
         url('OgloboXCondensedLight.svg#ogloboxcondensedlight?#iefix') format('svg');
    font-weight: 300;
    font-style: normal;
}
