html, body {
  height:100%;
  width: 100%;
  margin: 0;
}

#sidebar {
  width: 100%;
  height: 100%;
  left: 0;
  float:left;
}

div.divIFrameInvisivel {
  height: 100%;
  width: 100%;
  display: none;
  
  position:fixed;
  top:0px; 
  left:0px; 
  bottom:0px; 
  right:0px; 
  border:none; 
  margin:0; 
  padding:0; 
  overflow:hidden; 
  z-index:999999;
}

div.divIFrameVisivel {
  height: 100%;
  width: 100%;
  
  position:fixed;
  top:0px; 
  left:0px; 
  bottom:0px; 
  right:0px; 
  border:none; 
  margin:0; 
  padding:0; 
  overflow:hidden; 
  z-index:999999;
}
