html, body {
  height:100%;
  width: 100%;
}

#sidebar {
  width: 100%;
  height: 100%;
  left: 0;
  float:left;
}

.divIFrameInvisivel {
  height: 100%;
  width: 100%;
  display: none;
}

.divIFrameVisivel {
  height: 100%;
  width: 100%;
}
